*{
     padding: 0%;
     margin: 0;
     scroll-behavior: smooth;
     box-sizing: border-box;
}



.container{
     width: 100%;
     height: 80px;
     background: #013;
     position: fixed;
}

.navbar{
     display: flex;
     position: fixed;
     height: 80px;
     width: 100%;
     top: 0;
     max-width: 1600px;
     background: rgb(1, 6, 17);
     z-index: 999;
}

.navbar__container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}

.logo{
     margin: auto 20px;
}

.logo img{
     width: 50px;
     margin-top: -20px;
}

.logo h2{
     color: #fff;
     font-family: sans-serif;
     margin: -40px 0 0 50px;
}

#search{
     width: 400px;
     background: none;
     padding: 10px 20px;
     border: 2px solid rgb(122, 19, 19);
     border-radius: 50px;
     margin: 0 0 0 -30px;
     color: #fff;
     outline: none;
     display: flex;
}

#search:focus{
     border: 1px solid #fff;
}

.menu{
     list-style: none;
     display: flex;
     margin-right: 40px;
     align-items: center;
}

.item{
     padding: 0;
     margin: 0%;
     display: flex;
     text-align: center;
     align-items: center;
}


.link{
     font-family: sans-serif;
     color: #fff;
     text-decoration: none;
     padding: 10px 20px;
     border-radius: 4px;
     margin: 5px;
}
.btn{
     background: rgb(100, 4, 4);
     padding: 10px 20px;
     border-radius: 4px;
}

.link:hover{
     background: #554343;
}

.bar-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-right: 40px;
     margin-left: 0;
}



.navbar-inner-container .link{
     margin-bottom: 20px;
}


/* The section that uses javascript to display navbar */
.navbar__menu{
     display: flex;
     margin: 0;
     width: 500px;
     right: 0;
     float: right;
     position: absolute;
     transition: all 0.5s ease;
     height: 70vh;
     z-index: -1;
     opacity: 0;
     right: -500px;
     background: rgb(1, 6, 17);
     margin-top: 80px;
     text-align: center;
     justify-content: center;
     padding: 30px 0px;
     text-align: center;
 }

 .navbar__menu.active{
     right: 0px;
     z-index: 99;
     opacity: 1;
     transition: all 0.5s ease;
     height: 70vh;
     font-size: 1.5rem;
 }

 .inner-menu{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .inner-menu span{
     position: absolute;
     margin-top: -350px;
     margin-left: 300px;
     font-size: 20px;
     cursor: pointer;
 }


 .navbar__toggle .bar{
     width: 35px;
     height: 3px;
     margin: 5px auto;
     background: #fff;
     transition: all 0.4s ease-in-out;
 }

 .navbar__item{
     width: 100%;
 }


 /* The bar icon */
 .navbar__toggle .bar{
     display: block;
     cursor: pointer;
 }

 #mobile-menu.is-active .bar:nth-child(2){
     opacity: 0;
 }

 #mobile-menu.is-active .bar:nth-child(1){
     transform: translatey(12px) rotate(45deg);
 }

 #mobile-menu.is-active .bar:nth-child(3){
     transform: translatey(-12px) rotate(-45deg);
 }

/* MAIN CONTAINER */

.main-container{
     background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.88)), url(Images/background\ image.jpg);
     background-position: center;
     background-size: cover;
     height: 100vh;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     flex-direction: column;
}

.content{
     position: absolute;
     display: block;
}

.content h1{
     color: #fff;
     font-family:'Kaushan Script', cursive;
     font-size: 100px;
     margin-top: 0;
}

.content h2{
     color: #fff;
     font-family: sans-serif;
     font-weight: normal;
     margin-bottom: 20px;
}

.button{
     padding: 10px 20px;
     border-radius: 50px;
     background: green;
     border: none;
     color: #fff;
     font-size: 20px;
     cursor: pointer;
     transition: .4s;
     margin: 0px 10px;
}

.button:hover{
     background: #554343;
}

/* MOBILE RESPONSIVENESS OF THE HERO SECTION  */

@media screen and (max-width: 960px) {
     .navbar{
          display: flex;
     }
     .logo > img{
          display: flex;
          align-items: center;
     }
     .btn{
          margin-right: -20px;
     }

     /* .main-container{
          height: 80vh;
          display: flex;
     }

     .main-container{
          text-align: center;
          display: block;
          justify-content: center;
          align-items: center;
          margin: auto;
          margin-left: 0;
          left: 0;
     } */

     .content h1{
          font-size: 50px;
          position: relative;
     }

}

.image{
     width: 400px;
     height: 400px;
     float: right;
     margin-right: 50px;
     margin-top: 10em;
     position: relative;
     border-radius: 50%;
     animation-direction: normal;
     animation: animate 3s linear 1s 1 ;
}


/* @keyframes animate {
     0%{
          transform: rotate(0deg);
     }

     100%{
          transform: rotate(360deg);
     }
} */

/* DRINKS & FOODS SECTION */


#drinks-section{
     width: 100%;
     height: 130vh;
     background-color: rgb(255, 255, 255);
     display: flex;
     text-align: center;
} 

#food-section{
     width: 100%;
     height: 130vh;
     background-color: rgb(1, 6, 17);
     display: flex;
     text-align: center;
} 

.drinks-section h1{
     margin: 90px auto 0;
     color: rgb(0, 0, 0);
     font-style: italic;
     font-family: 'Times New Roman';
}

#food-section h1{
     margin: 90px auto 0;
     color: rgb(255, 255, 255);
     font-style: italic;
     font-family: 'Times New Roman';
}


.images-container{
     margin: 9em auto;
     display: flex;
     position: absolute;
     width: 100%;
     height: 80vh;
     padding: 10px 20px;
     flex-wrap: wrap;
     gap: 2em;
     justify-content: center;
}

.images{
     width: 300px;
     height: 300px;
     padding-bottom: 40px;
     background: #fff;
     box-shadow: 5px 5px 10px 2px #131313;
     position: relative;
     border-radius: 4px;
     transition: .5s;
}

/* .images:hover{
     width: 310px;
     margin: 0;
} */

.images-content{
     margin: -35px 7px;
     position: absolute;
     text-align: center;
     display: flex;
     justify-content: center;
     color: rgb(100, 4, 4);
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.buy-btn{
     background: green;
     padding: 5px 10px;
     color: #fff;
     border: none;
     border-radius: 50px;
     cursor: pointer;
}

hr{
     width: 100%;
     background: #fff;
     margin: auto;
}

@media screen and (max-width: 960px) {
     #drinks-section{
          height: 450vh;
          /* position: absolute; */
          /* background: rebeccapurple; */
          display: flex;
     }

     #food-section{
          height: 450vh;
     }

     .image-inner-container .images{
          width: 400px;
     }

     .images-content h3{
       margin-left: 2em;
       display: flex;
       justify-content: space-between;
       gap: 2em;
     }     
}

/* ABOUT US SECTION  */
#about-section{
     width: 100%;
     height: 100vh;
     background: #fff;
}

.bg-image{
     width: 100%;
     height: 100vh;
     filter: brightness(10%);
     position: relative;
}

#about-section h1{
     color: #3b1111;
     text-align: center;
     position: absolute;
     left: 50%;
     z-index: 1;
     margin: 90px auto;
     transform: translateX(-50%);
     font-style: italic;
}

#about-section .coffee-container img{
     position: absolute;
     display: flex;
     margin: 130px 0px 0px 100px;
     display: flex;
     width: 300px;
     height: auto;
}

.about-content{
     color: #000;
     position: absolute;
     margin-top: 150px;
     width: 60%;
     font-family: sans-serif;
     right: 50px;
     font-size: 30px;
     letter-spacing: normal;
     line-height: 2rem;
     font-style: italic;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-content span{
     color: rgb(100, 4, 4);
     font-weight: bold;
     text-decoration: underline;
}

.more-btn, .booking-btn{
     padding: 10px 20px;
     margin-top: 40px;
     background: rgb(100, 4, 4);
     border: none;
     outline: none;
     color: #fff;
     font-size: 18px;
     margin-right: 20px;
     border-radius: 50px;
     transition: .5s;
}

.more-btn:hover{
     background: #fff;
     border: 1px solid rgb(100, 4, 4);
     color: rgb(100, 4, 4);
}

.booking-btn:hover{
     background: #fff;
     border: 1px solid rgb(100, 4, 4);
     color: rgb(100, 4, 4);
}

@media screen and (max-width: 960px) {
     #about-section{
          height: 220vh;
     }

     .about-content{
          margin: 700px 0 0 20px;
          right: 0;
          width: 80%;
          font-size: 20px;
          left: 20px;
     }

}

/* Reviews Section  */

#custommers-section{
     width: 100%;
     height: 95vh;
     background: #928c8cc4;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 2em;
     padding-top: 30px;
     margin-top: 0;
}

#custommers-section h1{
     color: #3b1111;
     text-align: center;
     justify-content: center;
     position: absolute;
     font-style: italic;
     margin-top: 2em;
}

.card{
     width: 300px;
     height: 450px;
     background: #fff;
     margin: 120px auto 0;
     padding: 20px;
     display: flex;
     justify-content: center;
     position: relative;
     box-shadow: 5px 4px 20px 4px #000;
}

.clients-image{
     width: 70px;
     height: 70px;
     border-radius: 50px;
}

.clients-name{
     position: absolute;
     margin-top: 80px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.card hr{
     width: 50%;
     position: absolute;
     margin-top: 7rem;
}

.card p{
     position: absolute;
     margin: 8em 2em;
}

.card h4{
     position: absolute;
     margin-top: 400px;
     text-decoration: underline;
}

@media screen and (max-width:960px) {
     #custommers-section{
          height: 310vh;
          position: relative;
     }

     .card{
          width: 400px;
          height: 350px;
     }

     .card h1{
          margin-top: -10em;
          padding-top: 0px;
          position: absolute;
     }

     .card h4{
          margin-top: 300px;
     }
}

/* Footer section  */

#footer-section{
     width: 100%;
     height: 80vh;
     background: rgb(1, 6, 17);
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 2em;
     justify-content: center;
}

#footer-section .logo{
     margin: 30px 0px 0px 50px;
     position: absolute;
     justify-content: flex-start;
}

#footer-section .logo h2{
     color: #928c8cc4;
}

.inner-footer{
     width: 300px;
     height: auto;
     margin-top: 5em;
     color: #928c8cc4;
     font-size: 20px;
     line-height: 2em;
     font-family: sans-serif;
}

.inner-footer h1{
     font-size: 25px;
}

.inner-footer p{
     font-size: 16px;
}

.inner-footer a{
     text-decoration: none;
     color: #928c8cc4;
}

.inner-footer input{
     width: 100%;
     padding: 10px 20px;
     background: #181818c4;
     margin: 10px auto;
     border-radius: 4px;
     border: 2px solid #181818c4;
     color: #fff;
}

textarea{
     background: #181818c4;
     resize: none;
     outline: none;
     color: #fff;
     border: none;
     width: 100%;
     padding: 10px 20px;
     font-size: 20px;
}

.submit-btn{
     padding: 10px 20px;
     color: #fff;
     border: none;
     outline: none;
     background: rgb(100, 4, 4);
     border-radius: 4px;
     transition: .5s;
     cursor: pointer;
}

.copy{
     color: #928c8cc4;
     font-size: 20px;
     font-family: sans-serif;
}

/* SOCIAL ICONS */

.social-icons{
     margin-top: 40px;
     padding: 0;
}

.social-icons i{
     background: #3b111169;
     padding: 10px;
     margin-right: 5px;
     border-radius: 4px;
     transition: .5s;
}

.social-icons i:hover{
     background: #afa7a7;
     color: #3b1111;
     box-shadow: 0 0 5px 5px #910b0bc7, 0 10px 5px #960303b7, 0 0 15px rgb(97, 27, 6), 0 0 5px 8px #5f0909;
}

/* svg shape */

svg{
     display: block;
     margin: 0;
     padding: 0;
     background: #928c8cc4;
}

@media screen and (max-width: 960px) {
     
     #footer-section{
          height: 220vh;
          justify-content: center;
          padding-top: 20px;
     }
     
     .copy{
          text-align: center;
          margin: auto;
     }

     .inner-footer{
          margin-bottom: -150px;
     }
}



